<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @society.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @society.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @society.password %>
</p>

<p>
  <strong>Telp:</strong>
  <%= @society.telp %>
</p>

<%= link_to 'Edit', edit_society_path(@society) %> |
<%= link_to 'Back', societies_path %>
